<!DOCTYPE html>
<html xmlns="http://www.w3.org/1992/xhtml" xmlns:svg="http://www.w3.org/2000/svg">
    <head>
        <title>Demo:word2vec</title>
        <link rel="stylesheet" href="static/css/basic.css" type="text/css" media="all" />
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="static/js/d3/d3.js" type="text/javascript" charset="utf-8"></script>
        <script src="static/js/basic.js" type="text/javascript" charset="utf-8"></script>
        <!-- <script src="static/js/demo_word2vec.js" type="text/javascript" charset="utf-8"></script> -->
    </head>

    <body>
        <h1>NUTFes 投票システム α版</h1>
        <div class="round" id="wrap">
            <div id="main">
            </div>
        </div>
    </body>
<script type="text/javascript" charset="utf-8">
function init() {
    var ws = new WebSocket('ws://localhost:8888/data');
    ws.onopen = function(){
    };
    ws.onerror = function(error){
    };
    ws.onmessage = function(msg){
        var json = JSON.parse(msg.data);
        d3.select("#main").selectAll('p')
            .data(json)
            .enter()
            .append('p')
            .text(function(data){
                return "name:" + data["name"] + " count:" + data["count"];
            });
    };
}

function Run(){
    init();
}
Run();

</script>
</html>

